{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    html{
    background-color: lightgray;
  }
  .login{
    background-color: lightgray;
  }
  h1,h5{
    text-align: center;
  }
  table{
    text-align: center;
  }
  form{
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .formwrapper{
    display: block;
    text-align: center;
  }
</style>
<div class = "login">

    <h1>Login</h1>

    <div class="formwrapper">
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input class="btn login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
    </div>
            
        <h5>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></h5>
</div>

{% endblock content %}