{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 4 PBP/PBD</h1>

  <h5>User currently logged-in: </h5>
  <p>{{user}}</p>

  <table>
    <tr>
      <th>Date</th>
      <th>Task Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Delete Task</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in list_todolist %}
    <tr>
      <th>{{task.date}}</th>
      <th>{{task.title}}</th>
      <th>{{task.description}}</th>
        {% if task.is_finished %}
        <th>Selesai</th>
        {% else %}
        <th>Belum Selesai</th>
        {% endif %}
      <td>
        <form method="POST" action="{% url 'todolist:update_data' %}">
          {% csrf_token %} 
          <input type="hidden" name="id" value="{{x.id}}"/>
          <button type="submit">Update</button>
        </form>
        <form method="POST" action="{% url 'todolist:delete_data' %}">
          {% csrf_token %} 
          <input type="hidden" name="id" value="{{x.id}}"/>
          <button type="submit">Delete</button>
        </form>
        </td>
    </tr>
    {% endfor %}
  </table>
  <button><a href="{% url 'todolist:create_task' %}">Create New Task</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}